src/main/resources/TextService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://text.ws.soap.com/" name="TextService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://text.ws.soap.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://text.ws.soap.com/" schemaLocation="TextService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getMostUsedWords">
    <part name="parameters" element="tns:getMostUsedWords"/>
  </message>
  <message name="getMostUsedWordsResponse">
    <part name="parameters" element="tns:getMostUsedWordsResponse"/>
  </message>
  <message name="correctErrors">
    <part name="parameters" element="tns:correctErrors"/>
  </message>
  <message name="correctErrorsResponse">
    <part name="parameters" element="tns:correctErrorsResponse"/>
  </message>
  <message name="detectLanguage">
    <part name="parameters" element="tns:detectLanguage"/>
  </message>
  <message name="detectLanguageResponse">
    <part name="parameters" element="tns:detectLanguageResponse"/>
  </message>
  <portType name="IText">
    <operation name="getMostUsedWords">
      <input wsam:Action="http://text.ws.soap.com/IText/getMostUsedWordsRequest" message="tns:getMostUsedWords"/>
      <output wsam:Action="http://text.ws.soap.com/IText/getMostUsedWordsResponse" message="tns:getMostUsedWordsResponse"/>
    </operation>
    <operation name="correctErrors">
      <input wsam:Action="http://text.ws.soap.com/IText/correctErrorsRequest" message="tns:correctErrors"/>
      <output wsam:Action="http://text.ws.soap.com/IText/correctErrorsResponse" message="tns:correctErrorsResponse"/>
    </operation>
    <operation name="detectLanguage">
      <input wsam:Action="http://text.ws.soap.com/IText/detectLanguageRequest" message="tns:detectLanguage"/>
      <output wsam:Action="http://text.ws.soap.com/IText/detectLanguageResponse" message="tns:detectLanguageResponse"/>
    </operation>
  </portType>
  <binding name="TextPortBinding" type="tns:IText">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getMostUsedWords">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="correctErrors">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="detectLanguage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TextService">
    <port name="TextPort" binding="tns:TextPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

